@model TestAutomationTraining.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h1>Izveidot</h1>

<h4>Pasūtījums</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div id="book-count" class="form-group">
                <label asp-for="AmountOfBooks" class="control-label"></label>
                <input asp-for="AmountOfBooks" class="form-control" />
                <span asp-validation-for="AmountOfBooks" class="text-danger"></span>
            </div>
            <div id="dvd-count" class="form-group">
                <label asp-for="AmountOfDvds" class="control-label"></label>
                <input asp-for="AmountOfDvds" class="form-control" />
                <span asp-validation-for="AmountOfDvds" class="text-danger"></span>
            </div>
            <div id="shirt-count" class="form-group">
                <label asp-for="AmountOfShirts" class="control-label"></label>
                <input asp-for="AmountOfShirts" class="form-control" />
                <span asp-validation-for="AmountOfShirts" class="text-danger"></span>
            </div>
            <h4>Klienta informācija</h4>
            <hr />
            <div id="client-address" class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div id="client-phone" class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div id="client-email" class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div id="is-company" class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsCompany" /> @Html.DisplayNameFor(model => model.IsCompany)
                </label>
            </div>
            <h4>Uzņēmuma informācija</h4>
            <hr />
            <div id="company-address" class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div id="company-reg-nr" class="form-group">
                <label asp-for="RegistrationNumber" class="control-label"></label>
                <input asp-for="RegistrationNumber" class="form-control" />
                <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
            </div>
            <div id="company-pvn-reg-nr" class="form-group">
                <label asp-for="PVNRegistrationNumber" class="control-label"></label>
                <input asp-for="PVNRegistrationNumber" class="form-control" />
                <span asp-validation-for="PVNRegistrationNumber" class="text-danger"></span>
            </div>
            <h4>Piegādes informācija</h4>
            <hr />
            <div id="delivery-address" class="form-group">
                <label asp-for="DeliveryAddress" class="control-label"></label>
                <input asp-for="DeliveryAddress" class="form-control" />
                <span asp-validation-for="DeliveryAddress" class="text-danger"></span>
            </div>
            <div id="delivery-details" class="form-group">
                <label asp-for="DeliveryDetails" class="control-label"></label>
                <textarea asp-for="DeliveryDetails" class="form-control"></textarea>
                <span asp-validation-for="DeliveryDetails" class="text-danger"></span>
            </div>
            <div id="delivary-date" class="form-group">
                <label asp-for="DeliveryDateTime" class="control-label"></label>
                <input asp-for="DeliveryDateTime" class="form-control" />
                <span asp-validation-for="DeliveryDateTime" class="text-danger"></span>
            </div>
            <div id="payment-type" class="form-group">
                <label asp-for="PaymentType" class="control-label"></label>
                <select asp-for="PaymentType" asp-items="Html.GetEnumSelectList<PaymentType>()" class="form-control"></select>
                <span asp-validation-for="PaymentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="create-button" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
